@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.navbar {
    flex-wrap: nowrap !important;
}
.container-fluid {
    flex-wrap: nowrap !important;
    justify-content: space-around !important;
    align-items: flex-start !important;
}
.header {
    background-color: #fab005;
    color: #181920ff;
    height: 55px;
}
.navbar-brand {
    font-family: "Righteous", cursive !important;
}
.form-control:focus {
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(42, 0, 0, 0.6);
}
#input {
    border-radius: 30px;
    width: 30vw;
    margin-right: 9px;
    background-color: #f7e6c6ff;
}
#search {
    margin-left: -50px;
    color: #fab005;
    border-radius: 30px;
    background-color: #424242ff;
    padding-right: 10px;
    padding-left: 8px;
}
#search svg {
    vertical-align: baseline !important;
}
.navbar-brand {
    align-items: center;
}
.header-items {
    display: flex;
    flex-wrap: nowrap !important;
    align-items: center;
}

.genre {
    align-items: center;
    place-items: flex-end;
    justify-content: center;
}
@media screen and (max-width: 800px) {
    #input {
        width: 55vw;
    }
}
