/* CarouselComponent.js */
.mt-62 {
  margin-top: 52px;
}
.mh-container {
  min-height: 80vh;
}
.carousel {
  min-height: 30vh;
}
.carousel-item a {
  text-decoration: none;
}
.carousel-caption {
  color: #fab005 !important;
}
.spinner {
  width: 100vw;
  height: 30vh;
}
.dropdown {
  width: 5rem;
}
.dropdown-menu {
  max-height: 230px;
  overflow-y: auto;
}
.spinner-border {
  margin-left: 48vw !important;
  margin-top: 10vh !important;
}
/*   MoviesByGenre.jsx*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-wrapper {
  position: relative;
  width: 200px;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
}
.card-wrapper:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}
.label {
  width: 2em;
  padding: 4px;
  font-size: 1em;
  line-height: 1;
  color: black;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.23em;
  background-color: #fab005;
}
.img-tip {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 1;
  display: block;
}
.genre-title {
  text-align: center;
  color: #fab005;
}
.genre-img {
  width: 200px;
  height: 300px;
}
.img-skeleton {
  animation: skeleton-loading 500ms linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(47, 64%, 49%);
  }
  100% {
    background-color: hsl(39, 100%, 50%);
  }
}
/* pagination*/
.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

@media screen and (max-width: 800px) {
  /* CarouselComponent.js */
  .dropdown-menu {
    max-height: 284px;
  }
  .carousel-caption h5 {
    color: white !important;
  }
  /*   MoviesByGenre.jsx*/
  .card-wrapper {
    width: 141px;
  }
  .genre-img {
    width: 141px;
    height: 211.5px;
  }
  /* pagination*/
}
